.profile__info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 730px;
  flex-wrap: wrap;
}

@media screen and (max-width: 879px) {
  .profile__info-container {
    flex-basis: 581px;
  }
}

@media screen and (max-width: 581px) {
  .profile__info-container {
    flex-basis: 485px;
    justify-content: center;
    gap: 36px;
  }
}

