.popup__input {
  border: 0;
  border-bottom: 1px solid rgba(0 , 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  font-family:'Inter', "Arial", sans-serif;
  font-weight: 400;
  padding: 0;
  padding-bottom: 13px;
  max-height: 14px;
  margin-top: 27.4px;
  min-width: 358px;
}

.popup__input:first-child {
  margin-top: 0;
}

@media screen and (max-width: 515px) {
  .popup__input {
    min-width: 238px;
  }
}

